@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('mifuentedos.ttf') format('truetype');
    /* Otras propiedades de la fuente, como weight y style */
}
body {
    font-family: 'MiFuentePersonalizada', sans-serif;
    width: 100%;
    background-color: #fff8f0;
}

/* Otras reglas CSS que utilicen la fuente personalizada */

h1 {
    font-size: 6rem; /* 96px */
    font-weight: 400;
    color: #82815B;
    text-align: center;
    line-height: 0.5;
    margin-top: 4rem;
}
.flex{
   display: flex;
   justify-content: center;
   align-items:center;
}
p, span {
    font-size: 2.25rem/* 36px */;
    line-height: 1rem/* 40px */;
    color: #82815B;
    font-weight: 400;
    text-align: center;


}
.clock{
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items:center;  
}
.column {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 5rem;
}
span {
    line-height: 3rem;
}
.second-t {
    font-size: 3.75rem/* 60px */;
}
button{
    border-width: 2px;
    border-style: solid;
    border-radius: 0.75rem/* 12px */;
    font-weight: 400;
    margin-top: 2rem/* 32px */;
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
    background-color: #fff8f0;
    text-align: center;
    width: 25%;
    padding-top: 0.75rem/* 12px */;
    padding-bottom: 0.75rem/* 12px */;
    font-family: 'MiFuentePersonalizada', sans-serif;
    color: #82815B;
    margin-bottom: 60px;

} 
button:hover{
    background-color: #82815B;
    color: #fff8f0;
}
iframe{
    margin-bottom: 8rem;
}
.space{
    margin-top: 6rem;
}
.ftr{
    font-size: 24px;
    margin-top: 12rem;
}
.title {
    margin-top: 9rem;
}

/******************* RESPONSIVE *******************/

@media (max-width: 375px) {
    .title-size {
        text-align: center;
        font-size: 4.5rem;
    }
    
    .img-rose{
        max-width: 100%;
    }
    #img-rosa{
        width: 95%; /* Establece el ancho al 100% del contenedor */
        max-width: 100%;
    }
    .flex {
        display: flex;
        justify-content: center;
    }
    p{
        font-size: 1.8rem/* 36px */;
        line-height: 0.5rem/* 40px */;
        color: #82815B;
        font-weight: 400;
        text-align: center;   
    }
    span{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    #img-rosa-one{
        width: 50%; /* Establece el ancho al 100% del contenedor */
        max-width: 100%;
    }
    .second-t{
        font-size: 3.75rem/* 60px */;
        line-height: 3.75rem/* 40px */;
    }
    button {
        width: 80%;
    }
    iframe {
        width: auto;
    }
    .ftr{
        font-size: 18px;
    }
}

/* Estilos adicionales de pantalla grande (escritorio) si es necesario */
@media (max-width: 425px) {
    .title-size {
        text-align: center;
        font-size: 4.5rem;
    }
    
    .img-rose{
        max-width: 100%;
    }
    #img-rosa{
        width: 95%; /* Establece el ancho al 100% del contenedor */
        max-width: 100%;
    }
    .flex {
        display: flex;
        justify-content: center;
    }
    p{
        font-size: 1.8rem/* 36px */;
        line-height: 0.5rem/* 40px */;
        color: #82815B;
        font-weight: 400;
        text-align: center;   
    }
    span{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    #img-rosa-one{
        width: 50%; /* Establece el ancho al 100% del contenedor */
        max-width: 100%;
    }
    .second-t{
        font-size: 3.75rem/* 60px */;
        line-height: 3.75rem/* 40px */;
    }
    button {
        width: 80%;
    }
    iframe {
        width: auto;
    }
    .ftr{
        font-size: 18px;
    }
}